﻿
<legend>Learner Maintenance</legend>
<div class="row">
    <div class="col-xs-4 col-sm-3 col-md-3">
        <input type="button" ng-click="newLearner()" value="New Learner" class="btn btn-default" />
    </div>
</div>
<br />
<div class="row">
    <div class="col-sm-3 col-md-3">
        <div class="input-group">
            <input type="search" class="form-control" placeholder="Search for..." ng-model="searchQuery">
            <div class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="search()">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </div>

        </div>
    </div>
</div>

<br />

<div class="row top-buffer" ng-show="learnerGrid.length > 0">
    <table class="table table-bordered table-striped table-responsive">
        <thead>
            <tr>
                <th>
                    <a ng-click="sort('learnerName')">Learner Name</a>
                    <i ng-class="{'glyphicon glyphicon-chevron-up':sortKeyOrder.order=='ASC' && sortKeyOrder.key=='learnerName'}"></i>
                    <i ng-class="{'glyphicon glyphicon-chevron-down':sortKeyOrder.order=='DESC' && sortKeyOrder.key=='learnerName'}"></i>
                </th>
                <th>
                    <a ng-click="sort('learnerSurname')">Learner Surname</a>
                    <i ng-class="{'glyphicon glyphicon-chevron-up':sortKeyOrder.order=='ASC' && sortKeyOrder.key=='learnerSurname'}"></i>
                    <i ng-class="{'glyphicon glyphicon-chevron-down':sortKeyOrder.order=='DESC' && sortKeyOrder.key=='learnerSurname'}"></i>
                </th>
                <th>
                    <a ng-click="sort('status')">Status</a>
                    <i ng-class="{'glyphicon glyphicon-chevron-up':sortKeyOrder.order=='ASC' && sortKeyOrder.key=='status'}"></i>
                    <i ng-class="{'glyphicon glyphicon-chevron-down':sortKeyOrder.order=='DESC' && sortKeyOrder.key=='status'}"></i>
                </th>
                <th>
                    <a ng-click="sort('idorpassport')">ID or PassPort</a>
                    <i ng-class="{'glyphicon glyphicon-chevron-up':sortKeyOrder.order=='ASC' && sortKeyOrder.key=='idorpassport'}"></i>
                    <i ng-class="{'glyphicon glyphicon-chevron-down':sortKeyOrder.order=='DESC' && sortKeyOrder.key=='idorpassport'}"></i>
                </th>
                <th>
                    <a ng-click="sort('city')">City</a>
                    <i ng-class="{'glyphicon glyphicon-chevron-up':sortKeyOrder.order=='ASC' && sortKeyOrder.key=='city'}"></i>
                    <i ng-class="{'glyphicon glyphicon-chevron-down':sortKeyOrder.order=='DESC' && sortKeyOrder.key=='city'}"></i>
                </th>
                <th>
                    <a ng-click="sort('addressline1')">Address Line 1</a>
                    <i ng-class="{'glyphicon glyphicon-chevron-up':sortKeyOrder.order=='ASC' && sortKeyOrder.key=='addressline1'}"></i>
                    <i ng-class="{'glyphicon glyphicon-chevron-down':sortKeyOrder.order=='DESC' && sortKeyOrder.key=='addressline1'}"></i>
                </th>
                <th>
                    <a ng-click="sort('addressline2')">Address Line 2</a>
                    <i ng-class="{'glyphicon glyphicon-chevron-up':sortKeyOrder.order=='ASC' && sortKeyOrder.key=='addressline2'}"></i>
                    <i ng-class="{'glyphicon glyphicon-chevron-down':sortKeyOrder.order=='DESC' && sortKeyOrder.key=='addressline2'}"></i>
                </th>
                <th>
                    <a ng-click="sort('postalCode')">Postal Code</a>
                    <i ng-class="{'glyphicon glyphicon-chevron-up':sortKeyOrder.order=='ASC' && sortKeyOrder.key=='postalCode'}"></i>
                    <i ng-class="{'glyphicon glyphicon-chevron-down':sortKeyOrder.order=='DESC' && sortKeyOrder.key=='postalCode'}"></i>
                </th>
                <th>
                    <a ng-click="sort('telephone')">Telephone Number</a>
                    <i ng-class="{'glyphicon glyphicon-chevron-up':sortKeyOrder.order=='ASC' && sortKeyOrder.key=='telephone'}"></i>
                    <i ng-class="{'glyphicon glyphicon-chevron-down':sortKeyOrder.order=='DESC' && sortKeyOrder.key=='telephone'}"></i>
                </th>
                <th>
                    <a ng-click="sort('genderType')">Gender</a>
                    <i ng-class="{'glyphicon glyphicon-chevron-up':sortKeyOrder.order=='ASC' && sortKeyOrder.key=='genderType'}"></i>
                    <i ng-class="{'glyphicon glyphicon-chevron-down':sortKeyOrder.order=='DESC' && sortKeyOrder.key=='genderType'}"></i>
                </th>
                <th>
                    <a ng-click="sort('grade')">Grade</a>
                    <i ng-class="{'glyphicon glyphicon-chevron-up':sortKeyOrder.order=='ASC' && sortKeyOrder.key=='grade'}"></i>
                    <i ng-class="{'glyphicon glyphicon-chevron-down':sortKeyOrder.order=='DESC' && sortKeyOrder.key=='grade'}"></i>
                </th>
                <th>Action</th>
                <!--<th>Action</th>-->
            </tr>
        </thead>
        <tbody data-ng-repeat="l in learnerGrid | filter:searchQuery">
            <tr>
                <td>{{l.learnerName}}</td>
                <td>{{l.learnerSurname}}</td>
                <td>{{l.status}}</td>
                <td>{{l.idPassportNum}}</td>
                <td>{{l.city}}</td>
                <td>{{l.addressLine1}}</td>
                <td>{{l.addressLine2}}</td>
                <td>{{l.postalCode}}</td>
                <td>{{l.telephone}}</td>
                <td>{{l.gender}}</td>
                <td>{{l.grade}}</td>
                <td><a href="/#/LearnerEdit/{{l.id}}" class="glyphicon glyphicon-edit">Edit</a></td>
                <!--<td><a href="/#/SaveQuestionnaire/{{l.id}}" class="glyphicon glyphicon-asterisk">Create Questionnaire</a></td>-->
            </tr>

        </tbody>
    </table>

    <span data-pagination data-total-items="totalItems" data-ng-model="currentPage" data-max-size="numberOfPageButtons" class=" pagination-sm" data-boundary-links="true" data-rotate="false" data-ng-change="pageChanged()" data-items-per-page="recordsPerPage"></span>

</div>
<div class="alert alert-info" ng-show="!learnerGrid.length > 0">
    <strong>
        You have not added any learner(s) as yet.
    </strong>
</div>
