﻿<form role="form" name="SaveLearnerForm" class="form-horizontal" novalidate>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <fieldset>
                    <legend>Personal Details</legend>

                    <div class="form-group" show-errors>
                        <label for="learnerName" class="col-sm-3 control-label">First Name:</label>
                        <div class="col-sm-9">
                            <input name="learnerName" type="text" ng-model="learnerModel.learnerName" class="form-control" ng-required="true" />
                            <span class="help-block" ng-show="SaveLearnerForm.learnerName.$invalid">First Name Required</span>
                        </div>
                    </div>

                    <div class="form-group" show-errors>
                        <label for="learnerSurname" class="col-sm-3 control-label">Surname:</label>
                        <div class="col-sm-9">
                            <input name="learnerSurname" type="text" ng-model="learnerModel.learnerSurname" class="form-control" ng-required="true" />
                            <span class="help-block" ng-show="SaveLearnerForm.learnerSurname.$invalid">Surname Required</span>
                        </div>
                    </div>

                    <div class="form-group" show-errors>
                        <label for="genderType" class="col-sm-3 control-label">Gender Type:</label>
                        <div class="col-sm-9">
                            <select name="genderType" ng-model="learnerModel.genderType" class="form-control" ng-required="true">
                                <option value="">--Select--</option>
                                <option ng-repeat="gender in genderTypes" value="{{gender.value}}">{{gender.description}}</option>
                            </select>
                            <span class="help-block" ng-show="SaveLearnerForm.genderType.$invalid">Gender Type Required</span>
                        </div>
                    </div>

                    <div class="form-group" show-errors>
                        <label for="idorpassport" class="col-sm-3 control-label">ID Or Passport:</label>
                        <div class="col-sm-9">
                            <input name="idorpassport" type="text" ng-model="learnerModel.idorpassport" class="form-control" ng-required="true" />
                            <span class="help-block" ng-show="SaveLearnerForm.idorpassport.$invalid">ID Or Passport Required</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="grade" class="col-sm-3 control-label">Learner Grade</label>
                        <div class="col-sm-9">
                            <input name="grade" type="text" ng-model="learnerModel.grade" class="form-control" />
                        </div>
                    </div>


                    <fieldset>
                        <legend>Contact Details</legend>
                        <div class="form-group" show-errors>
                            <label for="telephone" class="col-sm-3 control-label">Telephone:</label>
                            <div class="col-sm-9">
                                <input name="telephone" type="text" ng-model="learnerModel.telephone" class="form-control" ng-required="true" />
                                <span class="help-block" ng-show="SaveLearnerForm.telephone.$invalid">Telephone Required</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="addressline1" class="col-sm-3 control-label">Address Line 1:</label>
                            <div class="col-sm-9">
                                <input name="addressline1" type="text" ng-model="learnerModel.addressline1" class="form-control" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="addressline2" class="col-sm-3 control-label">Address Line 2:</label>
                            <div class="col-sm-9">
                                <input name="addressline2" type="text" ng-model="learnerModel.addressline2" class="form-control" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="city" class="col-sm-3 control-label">City:</label>
                            <div class="col-sm-9">
                                <input name="city" type="text" ng-model="learnerModel.city" class="form-control" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="postalCode" class="col-sm-3 control-label">Postal Code:</label>
                            <div class="col-sm-9">
                                <input name="postalCode" type="text" ng-model="learnerModel.postalCode" class="form-control" />
                            </div>
                        </div>

                    </fieldset>


                    <div class="col-sm-offset-3 col-sm-9">
                        <input type="reset" class="btn btn-warning" value="Reset" ng-click="resetForm()" />
                        <input type="button" class="btn btn-default" value="Cancel" ng-click="cancelForm()" />
                        <button class="btn btn-success" ng-click="submitForm()"><span class="glyphicon glyphicon-user"></span>  Register</button>

                </div>
                </fieldset>


                <div class="col-sm-12">
                    <br />
                    <div class="alert alert-success" ng-if="handleSuccess">{{successMessage}}</div>
                </div>
                <div class="col-sm-12">
                    <br />
                    <div class="alert alert-danger" ng-if="hasError">{{errorMessage}}</div>
                </div>
            </div>
            </div>
    </div>

</form>

