﻿<form role="form" name="NewQuestionnaireQuestionForm" class="form-horizontal" novalidate>
    <fieldset>
        <legend>Create Questionnairequestion</legend>
ss
        <div class="form-group" show-errors>
            <label for="trait" class="col-sm-3 control-label">Trait:</label>
            <div class="col-sm-9">
                <textarea name="trait" id="notes" class="form-control" ng-required="true" rows="5" cols="40"
                          ng-model="questionnaireQuestionModel.trait"></textarea>
                <span class="help-block" ng-show="NewQuestionnaireQuestionForm.$invalid">Trait Required</span>

            </div>
        </div>

    </fieldset>

    <div class="col-sm-offset-3 col-sm-9">
        <input type="reset" class="btn btn-warning" value="Reset" ng-click="resetForm()" />
        <input type="button" class="btn btn-default" value="Cancel" ng-click="cancelForm()" />
        <input type="submit" class="btn btn-primary" value="Save" ng-click="submitForm()" />
    </div>

    <div class="col-sm-12">
        <br />
        <div class="alert alert-danger" ng-if="hasError">{{errorMessage}}</div>
    </div>
</form>

 