﻿<form role="form" name="NewQuestionnaireForm" class="form-horizontal" novalidate>
    <fieldset>
        <legend>Create Questionnaire</legend>
   
        <!--<div class="form-group" show-errors>
            <label for="userName" class="col-sm-3 control-label">Assessor Name:</label>
            <div class="col-sm-9">
                <select name="userName" ng-model="questionnaireModel.assessorId" class="form-control" ng-required="true">
                    <option value="">--Select--</option>
                    <option ng-repeat="assessor in assessorList" value="{{assessor.id}}">{{assessor.description}}{{userName}}</option>
                </select>
                <span class="help-block" ng-show="NewQuestionnaireForm.$invalid">Assessor Required</span>
            </div>
        </div>-->

        
        <div class="form-group">
            <label for="questionnaireDate" class="col-sm-3 control-label">Questionnaire Date:</label>
            <div class="col-sm-9">
                <input name="questionnaireDate" type="date" ng-model="questionnaireModel.questionnaireDate" class="form-control" />
            </div>
        </div>

    </fieldset>

    <div class="col-sm-offset-3 col-sm-9">
        <input type="reset" class="btn btn-warning" value="Reset" ng-click="resetForm()" />
        <input type="button" class="btn btn-default" value="Cancel" ng-click="cancelForm()" />
        <input type="submit" class="btn btn-primary" value="Save" ng-click="submitForm()" />
    </div>

    <div class="col-sm-12">
        <br />
        <div class="alert alert-danger" ng-if="hasError">{{errorMessage}}</div>
    </div>
</form>

