﻿<form role="form" name="NewBehaviourQuestionForm" class="form-horizontal" novalidate>
    <fieldset>
        <legend>Behaviour Rating</legend>

        <div class="form-group" show-errors>
            <label for="type" class="col-sm-3 control-label">Behaviour Type:</label>
            <div class="col-sm-9">
                <select name="type" ng-model="behaviourQuestionModel.behaviourId" class="form-control" ng-required="true">
                    <option value="">--Select--</option>
                    <option ng-repeat="behaviour in behaviourList" value="{{behaviour.id}}">{{behaviour.description}}{{type}}</option>
                    <option value="">other</option>
                </select>
                <span class="help-block" ng-show="NewBehaviourQuestionForm.$invalid">Behaviour Type Required</span>
            </div>
        </div>

        <div class="form-group" show-errors>
            <label for="minimumWeight" class="col-sm-3 control-label">Minimum:</label>
            <div class="col-sm-9">
                <input name="minimumWeight" type="text" ng-model="behaviourQuestionModel.minimumWeight" class="form-control" />
                <span class="help-block" ng-show="NewBehaviourQuestionForm.minimumWeight.$invalid">Minimum required</span>
            </div>
            </div>
            <div class="form-group" show-errors>
                <label for="maximumWeight" class="col-sm-3 control-label">Maximum:</label>
                <div class="col-sm-9">
                    <input name="maximumWeight type=" text" ng-model="behaviourQuestionModel.maximumWeight" class="form-control" />
                    <span class="help-block" ng-show="NewBehaviourQuestionForm.maximumWeight.$invalid">Maximum required</span>

                </div>

            </div>

    </fieldset>

    <div class="col-sm-offset-3 col-sm-9">
        <input type="reset" class="btn btn-warning" value="Reset" ng-click="resetForm()" />
        <input type="button" class="btn btn-default" value="Cancel" ng-click="cancelForm()" />
        <input type="submit" class="btn btn-primary" value="Save" ng-click="submitForm()" />
    </div>

    <div class="col-sm-12">
        <br />
        <div class="alert alert-danger" ng-if="hasError">{{errorMessage}}</div>
    </div>
</form>

