﻿<form role="form" name="NewSchoolForm" class="form-horizontal" novalidate>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <fieldset>
                    <legend>School</legend>

                    <div class="form-group" show-errors>
                        <label for="schoolName" class="col-sm-3 control-label">School Name:</label>
                        <div class="col-sm-9">
                            <input name="schoolName" type="text" ng-model="schoolModel.schoolName" class="form-control" ng-required="true" />
                            <span class="help-block" ng-show="NewSchoolForm.$invalid">School Name Required</span>
                        </div>
                    </div>
                    <div class="form-group" show-errors>
                        <label for="schoolType" class="col-sm-3 control-label">School Type:</label>
                        <div class="col-sm-9">
                            <select name="schoolType" ng-model="schoolModel.schoolType" class="form-control" ng-required="true">
                                <option value="">--Select--</option>
                                <option ng-repeat="school in schoolTypes" value="{{school.value}}">{{school.description}}{{schoolType}}</option>
                            </select>
                            <span class="help-block" ng-show="NewSchoolForm.schoolType.$invalid">Gender Type Required</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="addressLine" class="col-sm-3 control-label">Address Line 1:</label>
                        <div class="col-sm-9">
                            <input name="addressLine1" type="text" ng-model="schoolModel.addressLine1" class="form-control" ng-required="true" />
                            <span class="help-block" ng-show="NewSchoolForm.addressLine1.$invalid">Address Line 1 Required</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="addressLine2" class="col-sm-3 control-label">Address Line 2:</label>
                        <div class="col-sm-9">
                            <input name="addressLine2" type="text" ng-model="schoolModel.addressLine2" class="form-control" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="city" class="col-sm-3 control-label">City:</label>
                        <div class="col-sm-9">
                            <input name="city" type="text" ng-model="schoolModel.city" class="form-control" />
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="postalCode" class="col-sm-3 control-label">Postal Code:</label>
                        <div class="col-sm-9">
                            <input name="postalCode" type="text" ng-model="schoolModel.postalCode" class="form-control" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="telephone" class="col-sm-3 control-label">Telephone:</label>
                        <div class="col-sm-9">
                            <input name="telephone" type="text" ng-model="schoolModel.telephone" class="form-control" />
                        </div>
                    </div>

                    <!--<div class="form-group" show-errors>
                        <label for="location" class="col-sm-3 control-label">Location:</label>
                        <div class="col-sm-9">
                            <input name="location" type="text" ng-model="schoolModel.location" class="form-control" />

                        </div>
                    </div>-->


                <div class="col-sm-offset-3 col-sm-9">
                    <input type="reset" class="btn btn-warning" value="Reset" ng-click="resetForm()" />
                    <input type="button" class="btn btn-default" value="Cancel" ng-click="cancelForm()" />
                    <button class="btn btn-success" ng-click="submitForm()"><span class="glyphicon glyphicon-save"></span>  Save</button>

                </div>
              </fieldset>
                <div class="col-sm-12">
                    <br />
                    <div class="alert alert-success" ng-if="handleSuccess">{{successMessage}}</div>
                </div>
                <div class="col-sm-12">
                    <br />
                    <div class="alert alert-danger" ng-if="hasError">{{errorMessage}}</div>
                </div>
            </div>
          </div>
    </div>
</form>
