﻿<legend>School Maintenance</legend>
<div class="row">
    <div class="col-xs-4 col-sm-3 col-md-3">
        <input type="button" ng-click="newSchool()" value="New School" class="btn btn-default" />
    </div>
</div>
<br />
<div class="row">
    <div class="col-sm-3 col-md-3">
        <div class="input-group">
            <input type="search" class="form-control" placeholder="Search for..." ng-model="searchQuery">
            <div class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="search()">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </div>

        </div>
    </div>
</div>

<br />

<div class="row top-buffer" ng-show="schoolGrid.length > 0">
    <table class="table table-bordered table-striped table-responsive">
        <thead>
            <tr>
                <th>
                    <a ng-click="sort('schoolName')">School</a>
                    <i ng-class="{'glyphicon glyphicon-chevron-up':sortKeyOrder.order=='ASC' && sortKeyOrder.key=='schoolName'}"></i>
                    <i ng-class="{'glyphicon glyphicon-chevron-down':sortKeyOrder.order=='DESC' && sortKeyOrder.key=='schoolName'}"></i>
                </th>
                <th>
                    <a ng-click="sort('schoolType')">School Type</a>
                    <i ng-class="{'glyphicon glyphicon-chevron-up':sortKeyOrder.order=='ASC' && sortKeyOrder.key=='schoolType'}"></i>
                    <i ng-class="{'glyphicon glyphicon-chevron-down':sortKeyOrder.order=='DESC' && sortKeyOrder.key=='schoolType'}"></i>
                </th>
                <th>
                    <a ng-click="sort('addressline1')">Address Line 1</a>
                    <i ng-class="{'glyphicon glyphicon-chevron-up':sortKeyOrder.order=='ASC' && sortKeyOrder.key=='addressline1'}"></i>
                    <i ng-class="{'glyphicon glyphicon-chevron-down':sortKeyOrder.order=='DESC' && sortKeyOrder.key=='addressline1'}"></i>
                </th>
                <th>
                    <a ng-click="sort('addressline2')">Address Line 2</a>
                    <i ng-class="{'glyphicon glyphicon-chevron-up':sortKeyOrder.order=='ASC' && sortKeyOrder.key=='addressline2'}"></i>
                    <i ng-class="{'glyphicon glyphicon-chevron-down':sortKeyOrder.order=='DESC' && sortKeyOrder.key=='addressline2'}"></i>
                </th>
                <th>
                    <a ng-click="sort('city')">City</a>
                    <i ng-class="{'glyphicon glyphicon-chevron-up':sortKeyOrder.order=='ASC' && sortKeyOrder.key=='city'}"></i>
                    <i ng-class="{'glyphicon glyphicon-chevron-down':sortKeyOrder.order=='DESC' && sortKeyOrder.key=='city'}"></i>
                </th>
                <th>
                    <a ng-click="sort('postalcode')">Postal Code</a>
                    <i ng-class="{'glyphicon glyphicon-chevron-up':sortKeyOrder.order=='ASC' && sortKeyOrder.key=='postalcode'}"></i>
                    <i ng-class="{'glyphicon glyphicon-chevron-down':sortKeyOrder.order=='DESC' && sortKeyOrder.key=='postalcode'}"></i>
                </th>
                <th>
                    <a ng-click="sort('telephone')">Telephone</a>
                    <i ng-class="{'glyphicon glyphicon-chevron-up':sortKeyOrder.order=='ASC' && sortKeyOrder.key=='telephone'}"></i>
                    <i ng-class="{'glyphicon glyphicon-chevron-down':sortKeyOrder.order=='DESC' && sortKeyOrder.key=='telephone'}"></i>
                </th>
                <!--<th>
                    <a ng-click="sort('location')">Location</a>
                    <i ng-class="{'glyphicon glyphicon-chevron-up':sortKeyOrder.order=='ASC' && sortKeyOrder.key=='location'}"></i>
                    <i ng-class="{'glyphicon glyphicon-chevron-down':sortKeyOrder.order=='DESC' && sortKeyOrder.key=='location'}"></i>
                </th>-->

                <th>Action</th>
            </tr>
        </thead>
        <tbody data-ng-repeat="i in schoolGrid | filter:searchQuery ">
            <tr>
                <td>{{i.schoolName}}</td>
                <td>{{i.schoool}}</td>
                <td>{{i.addressLine1}}</td>
                <td>{{i.addressLine2}}</td>
                <td>{{i.city}}</td>
                <td>{{i.postalCode}}</td>
                <td>{{i.telephone}}</td>
                <td><a href="/#/SchoolEdit/{{i.id}}" class="glyphicon glyphicon-edit">Edit</a></td>
            </tr>

        </tbody>
    </table>

    <span data-pagination data-total-items="totalItems" data-ng-model="currentPage" data-max-size="numberOfPageButtons" class=" pagination-sm" data-boundary-links="true" data-rotate="false" data-ng-change="pageChanged()" data-items-per-page="recordsPerPage"></span>

</div>
<div class="alert alert-info" ng-show="!schoolGrid.length > 0">
    <strong>
        You have not added any school(s) as yet.
    </strong>
</div>
