﻿<form class="form-horizontal" name="loginForm">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <fieldset>
                    <legend>Login</legend>
                    <div class="form-group" show-errors>
                        <label for="userName" class="col-sm-3 control-label">User Name</label>
                        <div class="col-sm-9">
                            <input type="text" name="userName" ng-model="loginModel.userName" class="form-control" ng-required="true" />
                            <span class="help-block" ng-show="loginForm.emailAddress.$invalid">User Name Required</span>
                        </div>
                    </div>

                    <div class="form-group" show-errors>
                        <label for="password" class="col-sm-3 control-label">Password</label>
                        <div class="col-sm-9">
                            <input type="password" name="password" ng-model="loginModel.password" class="form-control" ng-required="true" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="rememberMe" class="col-sm-3 control-label">Remember Me</label>
                        <div class="col-sm-9">
                            <input type="checkbox" name="rememberMe" ng-model="loginModel.rememberMe" />
                        </div>
                    </div>

                <div class="col-sm-offset-3 col-sm-9">
                    <input type="submit" class="btn btn-primary" value="Login" ng-click="submitForm()" />

                </div>
                </fieldset>
                <div class="col-sm-12">
                    <br />
                    <div class="alert alert-danger" ng-if="hasError">{{errorMessage}}</div>
                </div>
                </div>
            </div>
        </div>
</form>


