﻿<form role="form" name="registerForm" class="form-horizontal" novalidate>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <fieldset>

                    <legend>Login Details</legend>

                    <div class="form-group" show-errors>
                        <label for="userName" class="col-sm-3 control-label">User Name:</label>
                        <div class="col-sm-9">
                            <input name="userName" type="text" ng-model="registerModel.userName" class="form-control" ng-required="true" />
                            <span class="help-block" ng-show="registerForm.userName.$invalid">User Name Required</span>
                        </div>
                    </div>

                    <div class="form-group" show-errors>
                        <label for="password" class="col-sm-3 control-label">Password:</label>
                        <div class="col-sm-9">
                            <input name="password" type="password" ng-model="registerModel.password" class="form-control" ng-required="true" />
                            <span class="help-block" ng-show="registerForm.password.$invalid">Password Required</span>
                        </div>
                    </div>

                    <div class="form-group" show-errors>
                        <label for="confirmPassword" class="col-sm-3 control-label">Confirm Password:</label>
                        <div class="col-sm-9">
                            <input name="confirmPassword" type="password" ng-model="registerModel.confirmPassword" class="form-control" ng-required="true" data-match="registerForm.password" />
                            <span class="help-block" ng-show="registerForm.confirmPassword.$invalid">Confirm Password Required</span>
                            <span class="help-block" ng-show="registerForm.confirmPassword.$error.match">Password do not match</span>
                        </div>
                    </div>

                    <fieldset>
                        <legend>Personal Details</legend>
                        <div class="form-group" show-errors>
                            <label for="firstName" class="col-sm-3 control-label">First Name:</label>
                            <div class="col-sm-9">
                                <input name="firstName" type="text" ng-model="registerModel.firstName" class="form-control" ng-required="true" />
                                <span class="help-block" ng-show="registerForm.firstName.$invalid">First Name Required</span>
                            </div>
                        </div>

                        <div class="form-group" show-errors>
                            <label for="surname" class="col-sm-3 control-label">Surname:</label>
                            <div class="col-sm-9">
                                <input name="surname" type="text" ng-model="registerModel.surname" class="form-control" ng-required="true" />
                                <span class="help-block" ng-show="registerForm.surname.$invalid">Surname Required</span>
                            </div>
                        </div>


                        <div class="form-group" show-errors>
                            <label for="title" class="col-sm-3 control-label">Title:</label>
                            <div class="col-sm-9">
                                <input name="title" type="text" ng-model="registerModel.title" class="form-control" ng-required="true" />
                                <span class="help-block" ng-show="registerForm.surname.$invalid">Title Required</span>
                            </div>
                        </div>

                        <div class="form-group" show-errors>
                            <label for="genderType" class="col-sm-3 control-label">Gender Type:</label>
                            <div class="col-sm-9">
                                <select name="genderType" ng-model="registerModel.genderType" class="form-control" ng-required="true">
                                    <option value="">--Select--</option>
                                    <option ng-repeat="gender in genderTypes" value="{{gender.value}}">{{gender.description}}</option>
                                </select>
                                <span class="help-block" ng-show="registerForm.genderType.$invalid">Gender Type Required</span>
                            </div>
                        </div>
                        <div class="form-group" show-errors>
                            <label for="idOrPassport" class="col-sm-3 control-label">ID Or Passport:</label>
                            <div class="col-sm-9">
                                <input name="idOrPassport" type="text" ng-model="registerModel.idOrPassport" class="form-control" ng-required="true" />
                                <span class="help-block" ng-show="registerForm.idOrPassport.$invalid">ID Or Passport Required</span>
                            </div>
                        </div>
                    </fieldset>


                    <fieldset>
                        <legend>Contact Details</legend>
                        <div class="form-group" show-errors>
                            <label for="telephone" class="col-sm-3 control-label">Telephone:</label>
                            <div class="col-sm-9">
                                <input name="telephone" type="text" ng-model="registerModel.telephone" class="form-control" ng-required="true" />
                                <span class="help-block" ng-show="registerForm.telephone.$invalid">Telephone Required</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="postalCode" class="col-sm-3 control-label">Postal Code:</label>
                            <div class="col-sm-9">
                                <input name="postalCode" type="text" ng-model="registerModel.postalCode" class="form-control" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="city" class="col-sm-3 control-label">City:</label>
                            <div class="col-sm-9">
                                <input name="city" type="text" ng-model="registerModel.city" class="form-control" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="addressLine1" class="col-sm-3 control-label">Address Line 1:</label>
                            <div class="col-sm-9">
                                <input name="addressLine1" type="text" ng-model="registerModel.addressLine1" class="form-control" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="addressLine2" class="col-sm-3 control-label">Address Line 2:</label>
                            <div class="col-sm-9">
                                <input name="addressLine2" type="text" ng-model="registerModel.addressLine2" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group" show-errors>
                            <label for="email" class="col-sm-3 control-label">Email Address:</label>
                            <div class="col-sm-9">
                                <input name="email" type="email" ng-model="registerModel.email" class="form-control" ng-required="true" />
                                <span class="help-block" ng-show="registerForm.email.$invalid">Email Required</span>
                            </div>
                        </div>
                    </fieldset>
                    <div class="col-sm-offset-3 col-sm-9">
                        <input type="button" class="btn btn-default" value="Cancel" ng-click="cancelForm()" />
                        <input type="reset" class="btn btn-warning" value="Reset" ng-click="resetForm()" />
                        <button class="btn btn-success" ng-click="submitForm()"><span class="glyphicon glyphicon-user"></span>  Register</button>

                    </div>
                </fieldset>

                <div class="col-sm-12">
                    <br />
                    <div class="alert alert-success" ng-if="handleSuccess">{{successMessage}}</div>
                </div>
                <div class="col-sm-12">
                    <br />
                    <div class="alert alert-danger" ng-if="hasError">{{errorMessage}}</div>
                </div>
                </div>
            </div>
        </div>
               
</form>


