﻿@{
    ViewBag.Title = "Home Page";
    Layout = null;
}

<!DOCTYPE html>
<html ng-app="AngularApp" ng-controller="HomeController">
<head>
    <base href="~/">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/Angular")
    @Scripts.Render("~/bundles/AngularApp")

    <link rel="shortcut icon" href="~Logo.png" class="logo"/>

</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top show" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" ng-click="navbarProperties.isCollapsed = !navbarProperties.isCollapsed">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a href="/#/"><img src="Logo.png" alt="AftasCool" class="logo" /></a>
                @*<a class="navbar-brand" href="/#/"><img src="logo.png" alt="AftaScool" class="logo" /></a>*@


            </div>

            <div class="navbar-collapse collapse" collapse="navbarProperties.isCollapsed">
                <ul class="nav navbar-nav" ng-show="currentUser.loggedIn">
                    <li>
                        <a href="#" class="dropdown-toggle" dropdown-toggle="" data-toggle="dropdown">
                            <span>Config</span><b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/#/SchoolMaintenance">School</a></li>
                            <li><a href="/#/LearnerMaintenance">Learner</a></li>
                            <li><a href="/#/AssessorMaintenance">Assessor</a></li>
                            <li><a href="/#/Behaviour">Behaviour</a></li>
                        </ul>
                    </li>

                </ul>

                <ul class="nav navbar-nav navbar-right" ng-show="!currentUser.loggedIn">
                    <li><a href="/#/login">Login</a></li>
                    <li><a href="/#/register">Register</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right" ng-show="currentUser.loggedIn">
                    <li><a href="/#/myProfile">Welcome {{currentUser.displayName}}</a></li>

                    <li><a href="/#/" ng-show="currentUser.loggedIn">Logout</a></li>
                </ul>
               
            </div>
        </div>
    </div>
    
    <div class="container mainContent">
        <br />
        <div ng-view>
           
        </div>
    </div>
    <div class="container body-content">
    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - AftasCool. All Rights Reserved.</p>
    </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/Site")
</body>

</html>
