﻿<!--<p>Select something</p>-->

    <!--<h1>Welcome to AftaScool</h1>-->
 <!--<div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h1><strong class="affix">Aftascool</strong></h1>
        </div>
    </div>
 </div>-->
