﻿<form role="form" name="NewBehaviourForm" class="form-horizontal" novalidate>
    <fieldset>
        <legend>Behaviour</legend>



        <div class="form-group" show-errors>
            <label for="type" class="col-sm-3 control-label">Type:</label>
            <div class="col-sm-9">
                <input name="type" type="text" ng-model="behaviourModel.type" class="form-control" />
                <span class="help-block" ng-show="NewBehaviourForm.type.$invalid">Types required</span>

            </div>
        </div>
    </fieldset>

    <div class="col-sm-offset-3 col-sm-9">
        <input type="reset" class="btn btn-warning" value="Reset" ng-click="resetForm()" />
        <input type="button" class="btn btn-default" value="Cancel" ng-click="cancelForm()" />
        <input type="submit" class="btn btn-success" value="Save" ng-click="submitForm()" />
    </div>

    <div class="col-sm-12">
        <br />
        <div class="alert alert-success" ng-if="handleSuccess">{{successMessage}}</div>
    </div>
    <div class="col-sm-12">
        <br />
        <div class="alert alert-danger" ng-if="hasError">{{errorMessage}}</div>
    </div>
</form>