﻿<form role="form" name="NewAssessorSchoolForm" class="form-horizontal" novalidate>
    <fieldset>
        <legend>Save Assessor School</legend>

        <div class="form-group" show-errors>
            <label for="schoolName" class="col-sm-3 control-label">School Name:</label>
            <div class="col-sm-9">
                <select name="schoolName" ng-model="assessorSchoolModel.schoolId" class="form-control" ng-required="true">
                    <option value="">--Select--</option>
                    <option ng-repeat="school in schoolList" value="{{school.id}}">{{school.description}}{{schoolName}}</option>
                </select>
                <span class="help-block" ng-show="NewAssessorSchoolForm.$invalid">School Required</span>
            </div>
        </div>

        <div class="form-group">
            <label for="startDate" class="col-sm-3 control-label">Start Date :</label>
            <div class="col-sm-9">
                <input name="startDate" type="date" ng-model="assessorSchoolModel.startDate" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label for="endDate" class="col-sm-3 control-label">End Date:</label>
            <div class="col-sm-9">
                <input name="endDate" type="date" ng-model="assessorSchoolModel.endDate" class="form-control" />
            </div>
        </div>


    </fieldset>

    <div class="col-sm-offset-3 col-sm-9">
        <input type="button" class="btn btn-default" value="Cancel" ng-click="cancelForm()" />
        <input type="submit" class="btn btn-success" value="Save" ng-click="submitForm()" />
    </div>
    <div class="col-sm-12">
        <br />
        <div class="alert alert-success" ng-if="handleSuccess">{{successMessage}}</div>
    </div>
    <div class="col-sm-12">
        <br />
        <div class="alert alert-danger" ng-if="hasError">{{errorMessage}}</div>
    </div>
</form>
