﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 50px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.logo {
    position: relative;
    top: -1px;
    float: left;
    width:  auto;
    height:  52px;
    background-image: url("Logo.png");
}
.show{
    background-color: #c9d7ff;
}
.form-group .help-block {
  display: none;
}

.form-group.has-error .help-block {
  display: block;
}

