﻿<legend>Assessment Maintenance</legend>
<div class="row">
    <div class="col-xs-4 col-sm-3 col-md-3">
        <input type="button" ng-click="newAssessor()" value="New Assessor" class="btn btn-default" />
    </div>
</div>
<br/>
<div class="row" >
    <div class="col-sm-3 col-md-3">
        <div class="input-group">
            <input type="search" class="form-control" placeholder="Search for..." ng-model="searchQuery">
            <div class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="search()">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </div>

        </div>
    </div>
</div>

<br/>
<div class="row top-buffer" ng-show="assessorGrid.length > 0">
    <table class="table table-bordered table-striped table-responsive">
        <thead>
            <tr>

                <th>
                    <a ng-click="sort('username')">Username</a>
                    <i ng-class="{'glyphicon glyphicon-chevron-up':sortKeyOrder.order=='ASC' && sortKeyOrder.key=='username'}"></i>
                    <i ng-class="{'glyphicon glyphicon-chevron-down':sortKeyOrder.order=='DESC' && sortKeyOrder.key=='username'}"></i>
                </th>

                <th>
                    <a ng-click="sort('title')">Title</a>
                    <i ng-class="{'glyphicon glyphicon-chevron-up':sortKeyOrder.order=='ASC' && sortKeyOrder.key=='title'}"></i>
                    <i ng-class="{'glyphicon glyphicon-chevron-down':sortKeyOrder.order=='DESC' && sortKeyOrder.key=='title'}"></i>
                </th>
                <th>
                    <a ng-click="sort('firstName')">Firstname</a>
                    <i ng-class="{'glyphicon glyphicon-chevron-up':sortKeyOrder.order=='ASC' && sortKeyOrder.key=='firstName'}"></i>
                    <i ng-class="{'glyphicon glyphicon-chevron-down':sortKeyOrder.order=='DESC' && sortKeyOrder.key=='firstName'}"></i>
                </th>
                <th>
                    <a ng-click="sort('Surname')">Surname</a>
                    <i ng-class="{'glyphicon glyphicon-chevron-up':sortKeyOrder.order=='ASC' && sortKeyOrder.key=='Surname'}"></i>
                    <i ng-class="{'glyphicon glyphicon-chevron-down':sortKeyOrder.order=='DESC' && sortKeyOrder.key=='Surname'}"></i>
                </th>

                <th>
                    <a ng-click="sort('genderType')">Gender</a>
                    <i ng-class="{'glyphicon glyphicon-chevron-up':sortKeyOrder.order=='ASC' && sortKeyOrder.key=='genderType'}"></i>
                    <i ng-class="{'glyphicon glyphicon-chevron-down':sortKeyOrder.order=='DESC' && sortKeyOrder.key=='genderType'}"></i>
                </th>

                <th>
                    <a ng-click="sort('telephone')">Telephone Number</a>
                    <i ng-class="{'glyphicon glyphicon-chevron-up':sortKeyOrder.order=='ASC' && sortKeyOrder.key=='telephone'}"></i>
                    <i ng-class="{'glyphicon glyphicon-chevron-down':sortKeyOrder.order=='DESC' && sortKeyOrder.key=='telephone'}"></i>
                </th>
                <th>
                    <a ng-click="sort('idOrPassport')">Id Or Passport#</a>
                    <i ng-class="{'glyphicon glyphicon-chevron-up':sortKeyOrder.order=='ASC' && sortKeyOrder.key=='idOrPassport'}"></i>
                    <i ng-class="{'glyphicon glyphicon-chevron-down':sortKeyOrder.order=='DESC' && sortKeyOrder.key=='idOrPassport'}"></i>
                </th>


                <th>
                    <a ng-click="sort('email')">Email Address</a>
                    <i ng-class="{'glyphicon glyphicon-chevron-up':sortKeyOrder.order=='ASC' && sortKeyOrder.key=='email'}"></i>
                    <i ng-class="{'glyphicon glyphicon-chevron-down':sortKeyOrder.order=='DESC' && sortKeyOrder.key=='email'}"></i>
                </th>
                <th>
                    <a ng-click="sort('city')">City</a>
                    <i ng-class="{'glyphicon glyphicon-chevron-up':sortKeyOrder.order=='ASC' && sortKeyOrder.key=='city'}"></i>
                    <i ng-class="{'glyphicon glyphicon-chevron-down':sortKeyOrder.order=='DESC' && sortKeyOrder.key=='city'}"></i>
                </th>
                <th>
                    <a ng-click="sort('addressline1')">Address Line 1</a>
                    <i ng-class="{'glyphicon glyphicon-chevron-up':sortKeyOrder.order=='ASC' && sortKeyOrder.key=='addressline1'}"></i>
                    <i ng-class="{'glyphicon glyphicon-chevron-down':sortKeyOrder.order=='DESC' && sortKeyOrder.key=='addressline1'}"></i>
                </th>
                <th>
                    <a ng-click="sort('addressline2')">Address Line 2</a>
                    <i ng-class="{'glyphicon glyphicon-chevron-up':sortKeyOrder.order=='ASC' && sortKeyOrder.key=='addressline2'}"></i>
                    <i ng-class="{'glyphicon glyphicon-chevron-down':sortKeyOrder.order=='DESC' && sortKeyOrder.key=='addressline2'}"></i>
                </th>
                <th>
                    <a ng-click="sort('postalCode')">Postal Code</a>
                    <i ng-class="{'glyphicon glyphicon-chevron-up':sortKeyOrder.order=='ASC' && sortKeyOrder.key=='postalCode'}"></i>
                    <i ng-class="{'glyphicon glyphicon-chevron-down':sortKeyOrder.order=='DESC' && sortKeyOrder.key=='postalCode'}"></i>
                </th>

                <th>Action</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody data-ng-repeat="i in assessorGrid | filter:searchQuery">
            <tr>
                <td>{{i.userName}}</td>
                <td>{{i.title}}</td>
                <td>{{i.firstName}}</td>
                <td>{{i.surname}}</td>
                <td>{{i.gender}}</td>
                <td>{{i.telephone}}</td>
                <td>{{i.idOrPassport}}</td>
                <td>{{i.email}}</td>
                <td>{{i.city}}</td>
                <td>{{i.addressLine1}}</td>
                <td>{{i.addressLine2}}</td>
                <td>{{i.postalCode}}</td>
                <td><a href="/#/AssessorEdit/{{i.id}}" class="glyphicon glyphicon-edit">Edit</a></td>
                <td><a href="/#/SaveAssessorSchool2/{{i.id}}" class="glyphicon glyphicon-edit">Edit School</a></td>
            </tr>

        </tbody>
    </table>

    <span data-pagination data-total-items="totalItems" data-ng-model="currentPage" data-max-size="numberOfPageButtons" class=" pagination-sm" data-boundary-links="true" data-rotate="false" data-ng-change="pageChanged()" data-items-per-page="recordsPerPage"></span>

</div>

<div class="alert alert-info" ng-show="!assessorGrid.length > 0">
    <strong>
        You have not conducted any assessment(s) as yet.
    </strong>
</div>

  
           